@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
/*  font-family: "Sour Gummy", sans-serif; */

/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sour Gummy", sans-serif;



}

p {
    color: rgb(28, 28, 122);
    font-size: 1.5rem;
}

h1 {
    color: rgb(28, 28, 122);
    text-shadow: 4px 2px 0px rgba(29, 65, 157, 0.6);
    font-size: 3rem;
    text-align: center;
    margin-top: 30px;
}

h2 {
    color: rgb(230, 93, 152);
    text-shadow: 4px 2px 0px rgba(230, 93, 152, 0.6);
    font-size: 1, 5rem;

}

h3 {
    color: rgb(29, 65, 157);
    text-shadow: 4px 2px 8px rgba(29, 65, 157, 0.6);

}

h4 {
    color: rgb(28, 28, 122);
    text-transform: uppercase;
}

li {
    color: rgb(28, 28, 122);
}

/*header*/
.logo {
    width: 130px;
    height: auto;
    margin: 10px;

}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-right: 10px;


}

nav {
    width: 15%;
    font-size: 2rem;


}

header a {
    text-decoration: none;
    font-size: large;
    color: rgb(28, 28, 122);
}

header {
    display: flex;
    justify-content: space-between;
    position: sticky;

    top: 0;
    background-color: rgb(230, 93, 152);

}


/*main index*/

.slogan {
    text-align: center;
}

.servicios {
    background-color: hwb(354 91% 2%);
    border: rgb(29, 65, 157) solid 3px
}

.contenedor-grid {
    display: grid;

    grid-template-areas:
        "titulo-grid titulo-grid titulo-grid"
        "subtitulo-grid subtitulo-grid subtitulo-grid"
        "titulo-serv titulo-serv titulo-serv"
        "serv1 serv2 serv3"
        "serv4 serv5 serv6";


    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;

    gap: 20px;

}

.titulo-grid {
    grid-area: titulo-grid;
    text-align: center;


}

.subtitulo-grid {
    grid-area: subtitulo-grid;
    text-align: center;
}

.titulo-serv {
    grid-area: titulo-serv;
    margin-left: 20px;
}

.serv1 {
    grid-area: serv1;
    border: 3px solid rgb(29, 65, 157);
    border-radius: 24px 24px 24px 24px;
    margin: 1 1 10px;
    letter-spacing: 1px;
    padding: 10px;


}

.serv1 h3 {
    text-align: center;
}

.serv1 h4 {
    text-align: center;
}

.serv2 {
    grid-area: serv2;
    border: 3px solid rgb(29, 65, 157);
    border-radius: 24px 24px 24px 24px;
    margin: 1 1 10px;
    letter-spacing: 1px;
    padding: 10px;

}

.serv2 h3 {
    text-align: center;
}

.serv2 h4 {
    text-align: center;
}

.serv3 {
    grid-area: serv3;
    border: 3px solid rgb(29, 65, 157);
    border-radius: 24px 24px 24px 24px;
    margin: 1 1 10px;
    letter-spacing: 1px;
    padding: 10px;
}

.serv3 h3 {
    text-align: center;
}

.serv3 h4 {
    text-align: center;
}

.serv4 {
    grid-area: serv4;
    border: 3px solid rgb(29, 65, 157);
    border-radius: 24px 24px 24px 24px;
    margin: 1 1 10px;
    letter-spacing: 1px;
    padding: 10px;
}

.serv4 h3 {
    text-align: center;
}

.serv4 h4 {
    text-align: center;
}

.serv5 {
    grid-area: serv5;
    border: 3px solid rgb(29, 65, 157);
    border-radius: 24px 24px 24px 24px;
    margin: 1 1 10px;
    letter-spacing: 1px;
    padding: 10px;
}

.serv5 h3 {
    text-align: center;
}

.serv5 h4 {
    text-align: center;
}


.serv6 {
    grid-area: serv6;
    border: 3px solid rgb(29, 65, 157);
    border-radius: 24px 24px 24px 24px;
    margin: 1 1 10px;
    letter-spacing: 1px;
    padding: 10px;
}

.serv6 h3 {
    text-align: center;
}

.serv6 h4 {
    text-align: center;
}

.icono {
    width: 100px;
}

/*main proyectos*/

.contenedor-grid2 {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 40px;


    grid-template-areas:
        "titulo-proy titulo-proy"
        "texto-proyectos carrousel";
}

.titulo-proy {
    grid-area: titulo-proy;
    text-align: center;

}

.texto-proyectos {
    grid-area: texto-proyectos;
    text-align: center;
    padding: 120px;


}

.carrouselproyectos {
    grid-area: carrousel;
    margin-left: 0;
}

/*contacto*/


.mb-3 {
    max-width: 1000px;
    margin: 40px;


}

button.btn-primary {
    background-color: rgb(230, 93, 152);
    border: none;
    font-weight: 600;
}

button.btn-primary:hover {
    background-color: rgb(190, 65, 120);
}

.iconos-contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    justify-content: flex-start;
    margin: 100px;

}



/* footer*/

footer {
    background-color: rgb(230, 93, 152);
    text-align: center;
    padding: 5px 0;
    letter-spacing: 2px;
    margin-top: 150px;
}


.instagram {
    width: 60px;
    position: fixed;
    right: 20px;
    bottom: 0;
}

/* media queries*/

/* celulares/mobile */

@media (max-width:480px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        width: 90%;

    }

    header ul {
        margin-right: 0px;
    }

    .contenedor-grid {
        grid-template-areas:
            "titulo-grid"
            "subtitulo-grid"
            "titulo-serv"
            "serv1 "
            "serv2"
            "serv3"
            " serv4"
            "serv5"
            " serv6";

        grid-template-columns: 100%;
        margin: 22px;

       
    }

    .contenedor-grid2 {
        grid-template-areas:
            "titulo-proy"
            "texto-proyectos"
            "carrousel";

        grid-template-columns:100%;

        grid-template-rows: 90px 800px 200px;
    }
        p{ 
            font-size: 1rem;
     
    }

    footer{
        width: 100%;
    }

    .instagram {
        display: none;
    }

}







/*tablet*/

@media (min-widht: 481px) and (max-widht:770px) {}