/* footer*/

@use"./variables" as*;

footer {
    background-color: $rosa-claro;
    text-align: center;
    padding: 7px 0;
    letter-spacing: 2px;
    margin-top: auto;

    span{
        margin: 0;
    }

}