@use"./variables" as*;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600;700;800&display=swap');
/*  font-family: "Sour Gummy", sans-serif; */

/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", system-ui, sans-serif;

}

p {
    color: $azul-oscuro;
    font-size: 1.5rem;
}

h1 {
    color: $azul-oscuro;
    text-shadow: 4px 2px 0px rgba(29, 65, 157, 0.6);
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 30px;
}

h2 {
    color: $rosa-claro;
    text-shadow: 4px 2px 0px rgba(230, 93, 152, 0.6);
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;

}

h3 {
    color: $azul-claro;
    font-family: 'Poppins', sans-serif;
    text-shadow: 4px 2px 8px rgba(29, 65, 157, 0.6);
    font-size: 1.8rem;
    text-align: center;
    

}

h4 {
    color: $rosa-claro;
    opacity: 0.85;
    font-size: 1.2rem;
   text-align: center;
   text-justify: inter-word;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

span {
    color: $azul-oscuro;
    font-size: 1.1rem;
}