 /*paleta de colores*/

 $azul-oscuro: rgb(28, 28, 122);
 $azul-claro: rgb(29, 65, 157);
 $rosa-claro: rgb(230, 93, 152);
 $rosa-oscuro: rgb(190, 65, 120);
 $background-color: hwb(354 91% 2%);

 /*extend*/
 .serv {


    margin: 1 1 10px;
    letter-spacing: 1px;
    padding: 10px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);

    


    h3 {
       text-align: center;
    }

    h4 {
       text-align: center;
    }

    ul {
       list-style: none;
       text-align: center;
    }

    li {
       color: $azul-oscuro
    }


 }